include src_ui/translations.qrc
include src_ui/icons.qrc
include po/cs.qm
include po/es.qm
include po/pl.qm
include po/pt.qm
include media/preferences.png
include media/quit.png
include media/Web-browser.png
include media/watchvideo-32x32.png
include media/watchvideo-200x200.png
include media/watchvideo-48x48.png
include README.html
