[Desktop Entry]
Type=Application
Version=1.0
Name=WatchVideo
GenericName=WatchVideo
Comment[en]=Play, download, rip or convert videos from several websites
Comment[pt]=Reproduzir, descarregar, extrair áudio ou converter vídeos de vários sítios web
Comment[es]=Reproducir, descargar, extraer el audio ou convertir videos de vários sitios web
Comment[pl]=Odtwarzaj, pobieraj i konwertuj filmy z kilku serwisów
Icon=watchvideo
Exec=qtwatchvideo
Categories=AudioVideo;Video;Qt;
